:root {
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  /* --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%); */
  --YouTube: hsl(348, 97%, 39%);

  /* --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%) */

  --Toggle: hsl(230, 22%, 74%);

  --VeryDarkBlue: hsl(230, 17%, 14%);
  --VeryDarkBlue: hsl(232, 19%, 15%);
  --DarkDesaturatedBlue: hsl(228, 28%, 20%);
  --DesaturatedBlue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);

  --White: hsl(0, 0%, 100%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --LightGrayishBlue: hsl(227, 47%, 96%);
  --DarkGrayishBlue: hsl(228, 12%, 44%);
  --VeryDarkBlueForText: hsl(230, 17%, 14%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
}

.dashBoard {
  width: 144rem;
  margin: 0 auto;
  padding: 2.5rem 17rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* background-color: var(--VeryPaleBlue); */
}

.dashBoard__headerBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashBoard__header {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.dashBoard__header h2 {
  font-size: 2.78rem;
  font-weight: 700;
}

.dashBoard__header p {
  color: var(--DarkGrayishBlue);
  font-size: 1.43rem;
  font-weight: 700;
}

.dashBoard__colorModeBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dashBoard__colorModeBox p {
}

.dashBoard__btn input:checked ~ label {
}
.dashBoard__btn input:checked ~ label::before {
  left: 41%;
}

.dashBoard__btn label {
  display: block;
  width: 5rem;
  height: 2.4rem;
  background-color: var(--Toggle);
  border-radius: 20px;
  position: relative;
}

.dashBoard__btn label::before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-100%, -50%);
}

.dashBoard__totalOverview {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.5rem;
}

.dashBoard__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 3rem 0 2.5rem 0;
  border-radius: 6px;

  background-color: var(--LightGrayishBlue);
  overflow: hidden;
}

.item1 {
  grid-column: 1/2;
  border-top: 4px solid var(--Facebook);
}

.item2 {
  grid-column: 2/3;
  border-top: 4px solid var(--Twitter);
}

.item3 {
  grid-column: 3/4;
  border-top: 4px solid transparent;
  background-image: linear-gradient(
      var(--LightGrayishBlue),
      var(--LightGrayishBlue)
    ),
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.item4 {
  grid-column: 4/5;
  border-top: 4px solid var(--YouTube);
}

.item4 .dashBoard__itemFooter span {
  color: var(--BrightRed);
}

.dashBoard__itemHeader {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.dashBoard__itemHeader svg {
}

.dashBoard__itemHeader span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--DarkGrayishBlue);
}

.dashBoard__followerBox {
}

.dashBoard__followerNumber {
  display: block;
  font-size: 5.3rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
}

.dashBoard__followerText {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: -0.2rem;
  color: var(--DarkGrayishBlue);
}

.dashBoard__itemFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

.dashBoard__itemFooter svg {
}

.dashBoard__itemFooter span {
  color: var(--LimeGreen);
  font-size: 1.17rem;
  font-weight: 700;
}

.dashBoard__todayOverviewHeader {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--DarkGrayishBlue);
  letter-spacing: 0.03rem;
}

.dashBoard__todayOverview {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 115px 115px;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
  margin-top: -2rem;
}

.todayItem1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.todayItem2 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.todayItem2 .dashBoard__percentageValue span {
  color: var(--BrightRed);
}

.todayItem3 {
  grid-row: 1/2;
  grid-column: 3/4;
}

.todayItem4 {
  grid-row: 1/2;
  grid-column: 4/5;
}

.todayItem5 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.todayItem6 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.todayItem7 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.todayItem7 .dashBoard__percentageValue span {
  color: var(--BrightRed);
}

.todayItem8 {
  grid-row: 2/3;
  grid-column: 4/5;
}

.todayItem8 .dashBoard__percentageValue span {
  color: var(--BrightRed);
}

.dashBoard__todayItem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: white;
  background-color: var(--LightGrayishBlue);
  border-radius: 6px;
}

.dashBoard__todayItemHeder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashBoard__todayItemHeder span {
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--VeryDarkBlueForText);
}

.dashBoard__values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashBoard__values span:first-child {
  font-size: 3rem;
  font-weight: 700;
}

.dashBoard__percentageValue {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.dashBoard__percentageValue span {
  color: var(--LimeGreen);
  font-weight: 700;
}
