:root {
  /* ### Primary */

  --Moderatecyan: hsl(176, 50%, 47%);
  --Darkcyan: hsl(176, 72%, 28%);

  /* ### Neutral */

  --Black: hsl(0, 0%, 0%);
  --Darkgray: hsl(0, 0%, 48%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
}

.Crowdfunding {
  width: 144rem;
  height: auto;
  margin: 0 auto;

  position: relative;
}

.Crowdfunding__header {
  width: 100%;
  height: 40rem;

  background-image: url(./images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Crowdfunding__navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 16.5rem;
}

.Crowdfunding__logo {
  display: block;
  width: 12.8rem;
  height: 2rem;
}

.Crowdfunding__nav {
}

.Crowdfunding__navLists {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 500;
  color: white;
}

.Crowdfunding__navList {
  cursor: pointer;
}

.Crowdfunding__mobileNavBar {
  display: none;
}

.Crowdfunding__main {
  width: 100%;
}

.Crowdfunding__aboutItem {
  width: 51%;
  background-color: white;
  margin: 0 auto;
  margin-top: -9.4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  border-radius: 6px;
}

.Crowdfunding__itemHeader {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 5.5rem 0 3.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.4);
  border-radius: 6px;
}

.Crowdfunding__mastercraftLogo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Crowdfunding__itemInfoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Crowdfunding__itemName {
  font-size: 2.9rem;
}

.Crowdfunding__itemDescription {
  font-size: 1.65rem;
  color: var(--Darkgray);
}

.Crowdfunding__btnBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.Crowdfunding__supportBtn {
  /* display: inline; */
  /* display: block; */
  /* width: auto;
  height: auto; */
  /* align-self: center; */
  height: 5.6rem;
  background-color: var(--Moderatecyan);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem 3.9rem;
  cursor: pointer;
}

.Crowdfunding__supportBtn:hover {
  background-color: var(--Darkcyan);
}

.Crowdfunding__bookmarkBtn {
  display: flex;
  /* cursor: pointer; */
}

.Crowdfunding__bookmarkBtn:hover .Crowdfunding__bookmarkImgBox img {
  /* filter: opacity(75%); */
  opacity: 0.7;
}
.Crowdfunding__bookmarkBtn:hover .Crowdfunding__bookmarkImgBox svg {
  /* filter: opacity(75%); */
  opacity: 0.7;
}

.Crowdfunding__bookmarkImgBox {
  height: 5.6rem;
  margin-right: -4.6rem;
  cursor: pointer;
}

.Crowdfunding__bookmarkBtnImg {
  width: 100%;
  height: 100%;
}

.Crowdfunding__bookmarkBtnImg.--bookmarkActive circle {
  fill: var(--Darkcyan);
}
.Crowdfunding__bookmarkBtnImg.--bookmarkActive path {
  fill: white;
}

.Crowdfunding__bookmarkBtn button {
  height: 5.6rem;
  background-color: rgb(0, 0, 0, 0.07);
  color: var(--Darkgray);
  border: none;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  /* padding: 0.5rem 3.9rem;
  padding-left: 5rem; */
  padding-left: 6rem;
  padding-right: 2.8rem;
  /* text-align: right; */
  cursor: pointer;
  /* line-height: 0.8rem; */
}

.Crowdfunding__bookmarkBtn button.--bookmarkActive {
  /* font-size: 7rem; */

  background-color: rgb(0, 0, 0, 0.04);
  color: var(--Darkcyan);
  /* font-weight: 700; */
}

.Crowdfunding__mobileBookmarkBtn {
  display: none;
}

.Crowdfunding__mobileBtnBox {
  display: none;
}

.Crowdfunding__itemSupportState {
  width: 100%;

  box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.4);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.Crowdfunding__numberBox {
  width: 100%;
  display: flex;
  padding: 3rem 0 2.5rem 0;
}

.Crowdfunding__SupportMoneyBox {
  padding: 0rem 4rem 0rem 4rem;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0.8;
}

.Crowdfunding__supportingMoney {
  font-size: 3.2rem;
  font-weight: 700;
}

.Crowdfunding__targetAmout {
  display: block;
  font-size: 1.5rem;
  color: var(--Darkgray);
}

.Crowdfunding__TotalSupportersBox {
  padding: 0rem 4rem 0rem 4rem;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  flex: 0.9;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Crowdfunding__supportingBackers {
  font-size: 3.2rem;
  font-weight: 700;
}

.Crowdfunding__totalBackers {
  display: block;
  font-size: 1.5rem;
  color: var(--Darkgray);
}

.Crowdfunding__LeftedDaysBox {
  padding: 0rem 4rem 0rem 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Crowdfunding__leftDayNumber {
  font-size: 3.2rem;
  font-weight: 700;
}

.Crowdfunding__leftDayWord {
  display: block;
  font-size: 1.5rem;
  color: var(--Darkgray);
}

.Crowdfunding__targetBarBox {
  width: 100%;
  padding: 0 4rem 3rem 4rem;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  height: 1rem;
  border-radius: 50px;
}
progress[value]::-webkit-progress-value {
  background-color: var(--Moderatecyan);

  border-radius: 50px;
}

.Crowdfunding__ItemInfo {
  width: 100%;
  box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 4rem;
}
.Crowdfunding__ItemInfo h3 {
  font-size: 2.08rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.Crowdfunding__ItemInfo h3 + p,
.Crowdfunding__ItemInfo h3 + p + p {
  /* color: red; */
  font-size: 1.65rem;
  margin-bottom: 3.5rem;
  color: var(--Darkgray);
  line-height: 2.6rem;
}
.Crowdfunding__ItemInfo p:nth-child(3) {
  /* color: blue; */
  font-size: 1.65rem;
  margin-bottom: 4rem;
  color: var(--Darkgray);
}

.Crowdfunding__SupportCards {
  width: 100%;
  /* padding: 4rem; */
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.Crowdfunding__SupportCard {
  width: 100%;
  box-shadow: 0px 0px 1.5px rgb(0, 0, 0, 1);
  border-radius: 6px;

  padding: 3rem 3.1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Crowdfunding__cardHeaderBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Crowdfunding__cardName {
  font-size: 1.9rem;
  font-weight: 700;
}

.Crowdfunding__cardPrice {
  color: var(--Moderatecyan);
  font-weight: 500;
}

.Crowdfunding__cardDescription {
  color: var(--Darkgray);
  font-size: 1.67rem;
  line-height: 2.7rem;
}

.Crowdfunding__cardFooterBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Crowdfunding__remainQuote {
  font-size: 3.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.Crowdfunding__remainQuote span {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--Darkgray);
  margin-top: 0.3rem;
}

.Crowdfunding__selectBtn {
  display: inline-block;
  background-color: var(--Moderatecyan);
  color: white;
  border: none;
  border-radius: 50px;

  padding: 1.5rem 3.3rem;
  font-family: "Commissioner", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.Crowdfunding__selectBtn:hover {
  background-color: var(--Darkcyan);
}

.--unactive {
  opacity: 0.4;
}
.--unactive {
  pointer-events: none;
}

.--unactive button {
  /* opacity: 0.5; */
  background-color: var(--Darkgray);
  cursor: auto;
}
.--unactive button:hover {
  /* opacity: 0.5; */
  background-color: var(--Darkgray);
}
